@tailwind base;
@tailwind components;
@tailwind utilities;



/* @media screen and (max-height: 600px) {
  .fix {
    overflow-y: auto;
    margin-bottom: 20rem;
    height: 60rem;
  }
  .fix-2 {
    margin-top: -30rem !important;
  }
} */
